html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-direction: inherit;
}

body {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
.container {
  border: 1px solid black;
  line-height: 0;
  margin: 0 auto;
}

.box {
  display: inline-block;
  border: 1px solid black;
}
