html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
}
.content-container {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.side-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 200px;
}

.container {
  border: 1px solid black;
  line-height: 0;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
}

.box {
  display: inline-block;
  border: 1px solid black;
}

button {
  display: block;
  text-align: center;
  display: flex;
  margin: 0 auto;
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 32px;
  border: 1px solid black;
  flex: 1;
  width: 200px;
  align-items: center;
  justify-content: center;
}

button:hover {
  background: white;
  color: black;
}
